<div class="col-md-12 text-right" *ngIf="totalPage > 0">
    <div class="btn-group paging" role="group">
        <button type="button" class="btn btn-default" [disabled]="selectButton.index == 0" (click)="dirPage(0)">首页</button>
        <button type="button" class="btn btn-default" [disabled]="selectButton.index == 0" (click)="dirPage(1)">上一页</button>
        <button type="button" class="btn btn-default" *ngFor="let b of pages" (click)="paging(b)" [class.selected]="b.isSelect == true">{{b.index + 1}}</button>
        <button type="button" class="btn btn-default" [disabled]="selectButton.index == pages.length - 1" (click)="dirPage(2)">下一页</button>
        <button type="button" class="btn btn-default"[disabled]="selectButton.index == pages.length - 1" (click)="dirPage(3)">末页</button>
    </div>
</div>