@import "../../../theme/sass/conf/conf";
.body {
    font-size: 0.85em;
    font-family: "Microsoft YaHei","Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    height: 100%;
    margin: 0 auto;
}

.table-ipsos {
    background-color: white;
    width: 100%;
    position: relative;
    .header{
        text-align: center;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

.ipsos-header tr:first-child {
    color:$bootstrap-panel-header-text;
    background-color:$bootstrap-panel-header-bg;
    height: 140%;
    padding: 0.2em;
}

.suggestion> tbody > tr > td {
    min-width: 130px;
}

.table-ipsos > tbody > tr > td {
    padding: 4px;
    font-size: 1.1em;
    vertical-align: middle;
    line-height: 20px !important;
    padding:0.2em;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline !important;
    cursor: pointer;
}

.ipsos-header tr:first-child a {
    color: #cce8cf !important;
    text-decoration: none !important;
}

.suggestion a {
    color: orange;
}

.selected{
    background-color: #CFD8DC !important;
    color: white;
}