<img class="banner-header" src="/assets/img/swiper.jpg">
 <div *ngFor="let item of components  | async">
<ipsos-component [blockInPipe]="blockInPipe" [blockOutPipe]="blockOutPipe"   [component]='item'></ipsos-component>
</div>  
<div class="body">
    <table class="table table-bordered table-ipsos ipsos-header suggestion">
        <tbody>
            <tr *ngIf="Header" class="header">
                <td *ngIf="IsShowDetail">
                    <span>Detail</span>
                </td>
                <td *ngFor="let h of Header">
                    <span><strong>{{h.ShowText}}</strong></span>
                </td>
            </tr>
            <tr *ngFor="let ResultRespData of ResultRespDatas">
                <td *ngIf="IsShowDetail">
                    <a (click)="ViewDetail(ResultRespData)">Detail</a>
                </td>
                <td *ngFor="let h of Header">
                    <span>{{getDataTextByVarCode(ResultRespData, h.VarCode)}}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-20" *ngIf="totalPage > 0">

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" *ngIf="ShowButtons.length>0 && ShowButtons[0].index > 0" (click)="Previous()"><<</button>
        <button type="button" class="btn btn-default" *ngFor="let b of ShowButtons" (click)="paging(b)" [class.selected]="b.isSelect == true">{{b.index + 1}}</button>
        <button type="button" class="btn btn-default" *ngIf="Buttons.length > 0 && ShowButtons.length > 0 && ShowButtons[ShowButtons.length - 1].index != Buttons[Buttons.length - 1].index" (click)="Next()">>></button>
    </div>
</div>
</div>