.page-header{
    width: 100%;
    background: url(/assets/img/hualijiahe_Header.png) #fff;
    background-size: 100% 100%;
    height: 100px;
    display: flex;
    align-items: center;
    .logo{
        margin-left:10em;
    }
}