
$min-width:383px;
$td-min-width:189px;
$font-size:16px;
@mixin firt-cell($min-width){
	min-width: $min-width;
	text-align: left;
}
@mixin cell(){
	border:1px solid #e0e7ec;
	border-collapse: collapse;
	border-spacing: auto;
	text-align: center;
	background:#fff;
	max-height: 500px;
	box-shadow: -1px -0px 0 0 #e0e7ec, 1px 0 0 0 #e0e7ec, -0px -1px 0 0 #e0e7ec, 0px 1px 0 0 #e0e7ec;
}
.table-outlet{
	max-height:500px;
	.fix-side{
		max-height:500px;
		float:left;
		overflow-y:hidden;
		overflow-x: scroll;
		@include firt-cell($min-width);
		.row{
			height: 38px;
			line-height: 38px;
			font-size: 16px;
			@include cell();
		}
	}
	.fix-header{
		
		width:fit-content;
		max-width:100%;
		@include cell();
		background:#f1f5f5;
		padding-right: 8px;
		display: flex;
	    .col-all{
			overflow: hidden;
		}
		.col-first{
			@include firt-cell($min-width);
			display: flex;
			justify-content: center;
			.col{
				border:none;
			}
		 }
		.col{
			 &:last-of-type{
				 border-right: none;
			 }
			min-width:189px;
			max-width:189px;
			display: table-cell;
			color: #404652;
			font-size: 16px;
			font-weight: normal;
			border: 1px solid #e0e7ec;
			 vertical-align: bottom;
			background: #f1f5f5;
			.p{
				font-size:16px;
				margin:0.5em;
			    text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-flow: column;
			}
			img{
				width:28px;
				height:28px;
				margin-top:10px;
			}
			.search-input{
				width: 155px;
				height: 28px;
				border-radius: 4px;
				background-color: #ffffff;
				border: solid 1px #e0e7ec;
				margin:10px auto;
				color: rgba(160, 170, 191, 0.8);
				input{
					border:none;
					width:103px;
					height:79%;
					border-radius: 4px;
					padding-left:5px;
					font-size:12px;
				}
				span{
					display: inline-block;
					float:right;
					width:28px;
					height:27px;
					background-color: #e0e7ec;
					border-radius:0 4px 4px 0;
					margin-right:-1px;
					cursor: pointer;
					img{
						margin:0;
						float:right;
						height:26px;
					}
				}
			}
			input{
				width: 132px;
				height: 28px;
				border-radius: 4px;
				background-color: #ffffff;
				border: solid 1px #e0e7ec;
				text-align:center;
			}
		}
	}

}
.data-table{
    overflow: auto;
	@include cell();
	max-width: fit-content;
	thead{
	    tr{
            
            th{
				color: #404652;
				font-size: 16px;
				font-weight: normal;
				border: 1px solid #e0e7ec;
				text-align: center;
				padding: 0 1em;
				position: sticky;
				top: -1px;
				background: #f1f5f5;
				p{
					font-size:16px;
					white-space: nowrap;
					margin:0.5em;
					text-align: center;
				}
				img{
					width:28px;
					height:28px;
					margin-top:10px;
				}
				.search-input{
					width: 155px;
					height: 28px;
					border-radius: 4px;
					background-color: #ffffff;
					border: solid 1px #e0e7ec;
					margin:10px auto;
					color: rgba(160, 170, 191, 0.8);
					input{
						border:none;
						width:103px;
						height:79%;
						border-radius: 4px;
						padding-left:5px;
						font-size:12px;
					}
					span{
						display: inline-block;
						float:right;
						width:28px;
						height:27px;
						background-color: #e0e7ec;
						border-radius:0 4px 4px 0;
						margin-right:-1px;
						cursor: pointer;
						img{
							margin:0;
							float:right;
							height:26px;
						}
					}
				}
				input{
					width: 132px;
					height: 28px;
					border-radius: 4px;
					background-color: #ffffff;
					border: solid 1px #e0e7ec;
					text-align:center;
				}
			}
        }
	}
	tbody{
		tr{
			height: 38px;
			box-shadow: -1px -0px 0 0 #e0e7ec, 1px 0 0 0 #e0e7ec, -0px -1px 0 0 #e0e7ec, 0px 1px 0 0 #e0e7ec;
			color: #6b7791;
            font-size:$font-size;
            
			td{
				min-width:$td-min-width;				
				border:1px solid #e0e7ec;
				.align{
					width:20px;
				}
				img{
					width:21px;
					height:21px;
					margin:0.5em;
				}
			}
		}
	}

}
.view{
	margin:30px;
	height:40px;
	.export{
		display: inline-block;
	}
	button{
		width: 110px;
		height: 38px;
		background-color: #236dc0;
		font-size: 16px;
  		color: #ffffff;
  		border:none;
  		margin-right:8px;
	}
	.page{
		float:right;
	}
}
.kedu{
	div{
		position: relative;
		width:344px;
		margin:0 auto;
		margin-top:1em;
		img{
			width:226px!important;
			height: 31px!important;
		}
		
		p{
			position: absolute;
			color: #ffffff;
			background:url(../../assets/img/unit-rain.png) no-repeat;
			width:19px;
			height:27px;
			line-height:35px;
			font-size:12px;
			background-size:100% 100%;
			top:12px;
			left:0;
		}
	}
	span{
		display:inline-block;
		width: 31px;
		height: 31px;
		background-color: #ffffff;
		color: #236dc0;
		border-radius:50%;
		line-height:29px;
		margin-bottom:10px;
		margin-top:7px;
		font-size: smaller;
	}
}
.preloader {
	background:rgba(255, 255, 255, 0.7);
	min-height: 400px;
	img {
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  margin: auto;
	  width: 70px;
	  height: 66px;
	  -webkit-animation-name: rotate360;
	  animation-name: rotate360;
	  -webkit-animation-duration: 1.5s;
	  animation-duration: 1.5s;
	  -webkit-animation-iteration-count: infinite;
	  animation-iteration-count: infinite;
	  -webkit-animation-timing-function: ease-in;
	  animation-timing-function: ease-in;
	}
  }

