<ng-container [ngSwitch]="(status | async)" >
  <div *ngSwitchCase="'loading'">
        <div  *ngIf="completedCount>0;else loadingRef;">
<div  class="table-outlet">
				 <md-progress-bar *ngIf="completedCount>0&&completedCount<99.9" class="progress" [mode]="'buffer'" [value]="completedCount"> </md-progress-bar> 
				 <div  class="fix-header">
						<div class="col-first">
							<div class="col">
								<div class='p'>
									<span>
										{{tableData.columnDefs[0].headerName}}
									</span>
									
									<div  class="search-input">
										<input placeholder="搜索" [(ngModel)]="tableData.columnDefs[0].SearchKey"/>
										<span>
											<img src="assets/img/unit-search.png" (click)="search(true)" >
										</span>			            
									</div>	
								</div>
							</div>
					   </div>
					 <div  #header class="col-all">
						 <div class="col"   *ngFor="let col of tableData.columnDefs | from: 1;let i = index">
							 <div class='p'>
								 <span>
									 
									 {{col.headerName}}
									</span>
									
									<div  class="search-input">
										<input placeholder="搜索" [(ngModel)]="col.SearchKey"/>
										<span>
											<img src="assets/img/unit-search.png" (click)="search()" >
										</span>			            
									</div>	
								</div>
							</div>
				   </div>
				</div>
<div #side class="fix-side">
	<div  class="row" *ngFor=" let row of sideData">{{row}}</div>
</div>
<div #table class="data-table" (scroll)="scrollTable(e)">		
	<table>
		<!-- <thead>
			<tr>
				<th   *ngFor="let col of tableData.columnDefs;let i = index">
						<p>{{col.headerName}}</p>
						<div  class="search-input">
							<input placeholder="搜索" [(ngModel)]="col.SearchKey"/>
							<span>
								<img src="assets/img/unit-search.png" (click)="search()" >
							</span>			            
						</div>
                </th>
			</tr>
		</thead> -->
		<tbody>
			<tr *ngFor = "let row of pagingData;">
               <td  *ngFor="let cell of row;let i = index">
                <ng-container [ngSwitch]="cell.template">
                   <div *ngSwitchCase="'value'">{{cell.value}}</div>
				   <div *ngSwitchCase="'up'"><img src='/assets/img/single-up.png'/>
					<label class="align">
							{{cell.value}}
					</label>
					</div>
				   <div *ngSwitchCase="'equal'"><img src='/assets/img/single-right.png'/>
					<label class="align">
							{{cell.value}}
					</label>
				   </div>
				   <div *ngSwitchCase="'down'"><img src='/assets/img/single-down.png'/>
					<label class="align">
							{{cell.value}}
					</label>
				   </div>
				   <div class="kedu" *ngSwitchCase="'slide'">
						    <div>
								<img src="assets/img/kedu.png">
								<p [style.left]="calcWidth(cell.value)">{{cell.value.replace('%','')}}</p>
							</div>
							<span>{{cell.value}}</span>
			       </div>
                </ng-container> 
                </td>
			</tr>
		</tbody>
	</table> 
 </div>
</div>
	<div class="view">
		  <div class="export" *ngIf="config.export">
			  <!-- <a ><button (click)="export('pdf')">导出PDF</button></a> -->
			  <!-- <a ><button (click)="export('excel')">导出CSV</button></a>	 -->
			</div>
			<!-- <nz-pagination  *ngIf="config.paging" class="page" [nzPageSize]="pageSize" (nzPageIndexChange)="indexChange($event)" [nzPageIndex]="1" [nzTotal]="totalSize" nzShowQuickJumper></nz-pagination> -->
		</div>
    </div>
    <ng-template #loadingRef>
		<!-- <md-progress-bar class="progress" [mode]="'buffer'" [value]="completedCount"> </md-progress-bar> -->
		<div class="preloader">
				<img  src="/assets/img/loding.png">
	    </div>
    </ng-template>
</div>
<div *ngSwitchCase="'empty'">
    未选择指标或者数据为空!
</div>
</ng-container>