<ul *ngIf="optionAsync">
  {{o}}
  <li [routerLink]='["/pages/closedloop/detail",{respId:o[2],pjId:pjId }]' *ngFor="let o of optionAsync.series[0].data">
  <span>{{o[0]}}</span>
  <span class="circle" [style.color]="avg(o[1])">●</span>
    </li>
</ul>
