ipsos-html{
    ul{
        padding:0;
        li{
            display: flex;
            justify-content: space-between;
            padding:10px 5%;
            .circle{
                color:#6dc8be;
                font-size: xx-large;
            }
            &:hover{
                cursor:pointer;
                background:#eff8f5;
            }
        }
    }
}