<div class="main">
	<div class="password-view">
		<h3 class="password-title"><img src="../../assets/img/icon.png" alt="" />修改密码</h3>
		<div class="password-input">
			<input type="password" placeholder="请输入初始密码" (focus)="hidden($event);" [(ngModel)]="oldPassword"  (blur)="show($event);" (change)="valueChange($event);"/>
			<div class="error-prompt" (click)="hiddenSelf($event);"></div>
		</div>
		<div class="password-input">
			<input type="password" placeholder="请输入新密码" (focus)="hidden($event);" [(ngModel)]="newPassword" (blur)="show($event);" (change)="valueChange($event);"/>
			<div class="error-prompt" (click)="hiddenSelf($event);"></div>
		</div>
		<div class="password-input">
			<input type="password" placeholder="请确认新密码" (focus)="hidden($event);" [(ngModel)]="renewPassword" (blur)="show($event);" (change)="valueChange($event);"/>
			<div class="error-prompt">
				
			</div>
		</div>
		<div class="password-input">
			<input type="button" value="确认" class="password-submit" (click)="submit($event)" />
		</div>
		<div *ngIf="!equal" class="error" >
				两次输入密码不一致！
	   </div>
		<label *ngIf="equal" class="label-error" [ngClass]="{success:(message | async)?.status!=403,error:(message | async)?.status==403}">{{(message | async)?._body}}</label>
	</div>
</div>

