<div  baCardBlur class="animated fadeIn card {{cardType}} {{baCardClass || ''}}" zoom-in>
    <div  class="card-header">
        <div class="left card-title">{{title}}</div>
        <div class="zoom" (click)="changeInner()">
            <img src="/assets/img/top-right.png">
        </div>
    </div>
    <div class="card-body">
        <ng-content></ng-content>
    </div>
</div>
