
.footer{
	width:100%;
	height:100px;
	background: #2d2d2d;
	img{
        position: absolute;
        right:3em;
        bottom:34px;
        line-height: 120px;
    }
    a{
        color:rgba(255,255,255,0.5019607843137255);
        line-height: 120px;
        margin-right:40px;
        font-size: 14px;
    }
}
.main-w{
    padding:0 3em;
    img{
        width:44px;
    }
}