.title {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Microsoft YaHei","Segoe UI", Verdana, Helvetica, Sans-Serif;
}

#hotalertContent td{
    max-width:2em;
}

#hotalertContent tr td:first-of-type{
    text-align:left; 
}

.search {
    padding-bottom: 10px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #dddddd;
}

.search-shadow {
    box-shadow: 5px 5px 5px #999;
    -moz-box-shadow: 5px 5px 5px #999;
    -webkit-box-shadow: 5px 5px 5px #999;
}

.search-round {
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

.table tr td, th {
    border: 1px solid white;
}

.tr_title {
    color: #444;
	font-size:14px;
	font-weight: bold;
    background-color: #d3d5d7 !important;
    height: 140%;
    text-align:center;
}

.table tr a {
    text-decoration:#428bca;
}
.table td{
    text-align:center;
}

.scoregraph {
    display: inline-block;
    /*padding-left:10px;*/
   
    border-radius: 4px;
}

.scoregraph > li {
    display: inline;    
}

.scoregraph > li > a,
.scoregraph > li > span {
          
    height:25px;
    min-height:25px;
    float: left;
    padding: 3px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;      
}

div.operation-button{
    float: right; 
    margin-right: 10px; 
    margin-top: 10px; 
    position: relative;
}

#userselectlist{
    display: none; 
    z-index: 1000; 
    position: absolute; 
    background-color: #fff; 
    width: 450px; 
    margin-right: 245px; 
    right: 0; 
    margin-top: 50px
}

.scoregraph > li > span.valuechecked{
    color: #fff;
    background-color: #5cb85c;
    border: 1px solid #4cae4c
}

.scoregraph > li > span.valueunchecked{
    background-color: #f4f5f6;
    border: 1px solid  #bcbcbc;
    opacity: 0.2
}

.scoregraph > li > span.novalue{
    color: #777777;
    background-color: #f4f5f6;
    border: 1px solid #bcbcbc;
}

.open-text-value{
    border: 1px solid #bcbcbc; 
    margin:1em;
    padding:1em; 
    border-radius: 0.5em; 
    min-height: 30px; 
    color: #428bca
}

.selected{
    background-color: #CFD8DC !important;
    color: white;
}

.btn.btn-primary:hover{
    background: #5ec6c2;
    border-color: #46aeaa;
}
.btn.btn-primary {
    background: #5ec6c2;
    border-color: #5ec6c2;
}