<ba-card  #content (styleInitialised)="styleInited($event)"   [ngSwitch]="component.Type"  title="{{component.ShowText}}" baCardClass="{{component.Style}}"   (zoom)="zoom(component)">
    <ipsos-html  *ngSwitchCase="'Html'" [inputStream]="inputStream"></ipsos-html>
    <ipsos-table *ngSwitchCase="'Table'" [inputStream]="inputStream"></ipsos-table>
    <filter     *ngSwitchCase="'Filter'"  [inputStream]="inputStream" (change)="change($event)" [component]="component" [config]="config"></filter>
    <summary-header *ngSwitchCase="'SummaryHeader'" [inputStream]="inputStream"></summary-header>
    <SimpleCompare *ngSwitchCase="'SimpleCompare'" [inputStream]="inputStream"></SimpleCompare>
     <AlertList *ngSwitchCase="'AlertList'" [inputStream]="inputStream"></AlertList>
     <TreeTable *ngSwitchCase="'TreeTable'" [inputStream]="inputStream"></TreeTable>
    <ComplexTable *ngSwitchCase="'ComplexTable'" [inputStream]="inputStream" [component]="component"></ComplexTable>
    <ipsos-export *ngSwitchCase="'Export'" [blockData]="blockData" [inputStream]="blockOutPipe"  (change)="change($event)"></ipsos-export>
    <echart      *ngSwitchDefault [inputStream]="inputStream" [outputStream]="outputStream"></echart>
</ba-card>