.people-msg-box{
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
	.first-box{
		.first-box-title{
			height: 48px;
			.title-btn{
				height: 48px;
				line-height: 48px;
				float: right;
				a{
					display: inline-block;
					width: 84px;
					height: 28px;
					text-align: center;
					line-height: 28px;
					border-radius: 2px;
					background-color: #236dc0;
					color: #fff;
					margin-right: 8px;
				}
			}
		}
		.basic-msg-box{
			background-color: #fff;
			table{
				width: 100%;
				border-collapse:collapse;
				border:1px solid #e1e1e1;
				thead{
					height: 44px;
					background-color: #f8fafb;
					tr{
						th{
							height: 44px;
							line-height: 44px;
							text-align: left;
							padding-left: 20px;
							font-size: 16px;
							border:1px solid #e1e1e1;
							font-weight: 500;
						}
					}
				}
				tbody{
					background-color: #fff;
					tr{
						td{
							width: 200px;
							border:1px solid #e1e1e1;
							height: 38px;
							text-align: left;
							line-height: 38px;
							padding-left: 20px;
							color: #6b7791;
							font-size: 14px;
						}
						td.on{
							background-color: #236dc0;
							color:#fff;
						}
					}
				}
			}
		}
	}
	.secend-box{
		width: 100%;
		// height: 140px;
		max-height: 40vh;
		padding:20px 0 0 12px;
		background-color: #fff;
		margin-top: 36px;
		border:1px solid #e1e1e1;
		.secend-sild{
			.log-container{
				max-height: 30vh;
				overflow-y: scroll;
				margin: 10px;
				h2{
					font-size: 16px;
					font-weight: 500;
					text-align: left;
					color: #404652;
				}
				p{
					font-size: 14px;
					line-height: 1.71;
					color: #404652;
				}
			}
		}
	}
	.third-box{
		width: 100%;
		border:1px solid #e1e1e1;
		margin-top: 36px;
		background-color: #fff;
		margin-bottom: 107px;
		overflow: hidden;
		padding-bottom:20px;
		.left-box{
			border-bottom: 1px solid #E0E7EC;
			padding-left: 20px;
			h2{
				margin-top: 10px;
				height: 54px;
				line-height: 54px;
				font-size: 16px;
				font-weight: 500;
				text-align: left;
				color: #404652;
			}
			.score-box{
				margin-top: 5px;
				.score{
					margin-bottom: 10px;
					.label-box{
						display: inline-block;
						vertical-align: top;
						width:23%;
						label{
							height: 24px;	
							display: block;
							text-align: left;
							font-size: 14px;
							color: #404652;
							font-weight: 300;
							margin-bottom: 12px;
						}
					}					
					.number-box{
						display: inline-block;
						vertical-align: top;
						width:76%;
						.number{
							display:block;
							border-radius: 2px;
							border-right: none;
							border-collapse:collapse;
							margin-bottom: 7px;
							.num-box{
							    font-size:0;
							    span{
                                    display: inline-block;
                                    min-width: 8%;
									max-width: 30%;
                                    text-align: center;
                                    height: 24px;
                                    line-height: 24px;
                                    border: 1px solid #e1e1e1;
                                    font-size: 12px;
                                    color: #404652;
                                    padding:0 10px;
									overflow: hidden;
                                }
                                .pa-dd{
                                    min-width: 62px;
                                }
                                span:last-child{
                                    border-radius: 0 2px 2px 0;
                                }
                                span.on{
                                    background-color: #236dc0;
                                    border-radius: 2px;
                                    color:#fff;
                                }
							}
							
						}
					}
					
				}
			}
		}
		.right-box{
		    padding:0 20px;
			h2{
				font-size: 16px;
				font-weight: 500;
				line-height: 2.5;
				color: #404652;
				margin-top: 10px;
			}
			.no-answer{
				height: 150px;
				padding:13px;
				border:1px solid #e0e7ec;
				background-color: #f8fafb;
				font-size: 12px;
				font-weight: 500;
				color: #404652;
				word-break: break-word;
			}
		}
	}
}
.sample-box{
	width: 104%;
    height: 600px;
    background-color: #fff;
    margin-top: -15px;
    margin-left: -15px;
	.sample-box-title{
		width: 100%;
		height: 44px;
		line-height: 44px;
		padding-left: 50px;
		background-color: #f8fafb;
		h2{
			font-size: 20px;
			font-weight: 500;
			color: #333333;
			display: inline-block;
		}
		.close{
			display: inline-block;
			width: 20px;
			height: 20px;
			background:url(../../assets/img/close.png) no-repeat;
			float: right;
			margin-top: 15px;
			margin-right: 10px;
		}
	}
	.sample-content-box{
		background-color: #fff;
		.content-left{
			width: 266px;
			height: 556px;
			border-right:1px solid #e0e7ec;
			float: left;
			.content-msg{
				padding-top: 50px;
				p{
					margin-bottom: 29px;
					font-size: 14px;
					font-weight: 500;
					color: #333333;
					margin-left: 20px;
					label{
						display: inline-block;
						text-align: right;
						min-width: 60px;
					}
					span{
						display: inline-block;
						margin-left: 20px;
					}
				}
			}
		}
		.content-right{
			padding-top: 50px;
			height: 556px;
			float: left;
			.form{
				margin-left: 20px;
				.type-box{
					background-color: #fff;
					p{
						font-size: 14px;
						font-weight: 500;
						text-align: left;
						color: #333333;
					}
					.imitate-select{
						width: 260px;
						margin-top: 17px;
						position: relative;
						.imitate{
							width: 100%;
							height: 26px;
							line-height: 26px;
							.choose-box{
								float: left;
								width: 235px;
								height: 26px;
								border:1px solid #e0e7ec;
								padding-left: 5px;
								font-size: 12px;
								color:#404652;
							}
							.menu-icon{
								float: left;
								margin-left: -1px;
								border:1px solid #e0e7ec;
								display: inline-block;
								width: 26px;
								height: 26px;
								background:url(../../assets/img/xiala.png) no-repeat;
								background-position: center center;
							}
						}
						.menu-box{
							width: 260px;
							border:1px solid #e0e7ec;
							position: absolute;
							top: 26px;
							left:0px;
							background-color: #f8fafb;
							padding-left: 5px;
							padding-right: 7px;
							.choose{
								max-height: 134px;
								overflow-y:auto;
								.see-type{
									font-size: 12px;
								}
								ul{
									li{
										line-height: 18px;
									}
									.on{
										color:#236dc0;
									}
								}
							}
						}
					}
				}
				.question-box{
					margin-top: 17px;
					p{
						font-size: 14px;
						font-weight: 500;
						text-align: left;
						color: #333333;
					}
					textarea{
						margin-top: 17px;
						width: 360px;
						height: 96px;
						padding:5px;
						border:1px solid #e0e7ec;
						border-radius: 2px;
					}
				}
				.method{
					@extend .question-box;
					textarea{
						height: 60px;
					}
				}
				.enjoy{
					margin-bottom: 12px;
					@extend .question-box;
					>p{
					    margin-bottom: 14px;
					}
				}
				.button-box{
					margin-top: 38px;
					button{
						width: 74px;
						height: 28px;
						border:none;
						border-radius: 2px;
						line-height: 28px;
						text-align: center;
						color: #fff;
						background-color: #236dc0;
						font-size: 14px;
						margin-right: 10px;
					}
				}
			}
		}
	}
}

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar{
    width: 10px;
    height: 100px;
    background-color: #fff;
    margin-right: 7px;
}
/*定义滚动条的轨道，内阴影及圆角*/
::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: #fff;
}
/*定义滑块，内阴影及圆角*/
::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 5px;
    background-color: #236dc0;
}