<div class="people-msg-box">
	<div class="first-box">
		<div class="first-box-title">
			<div class="title-btn">
				<a href="javascript:;" (click)="back()">返回列表</a>
				<a href="javascript:;" *ngIf="showOperationBtn()" (click)="showModalForTemplate(content, footer)">处理预警</a>
				
				<nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'" [nzClickHide] = "'false'" *ngIf="checkRight('assign', AssignStatus)">
					<a  nz-dropdown>任务分配</a>
			      <ul nz-menu *ngIf="AssignableUsers">
			        <li nz-menu-item *ngFor="let user of AssignableUsers" (click)="assign(user.UserPassportId)">
			        	{{user.UserName}}&nbsp;&nbsp;&nbsp;
			        </li>
			      </ul>
			    </nz-dropdown>

                <span *ngIf="checkRight('close', ['Process'])">
                    <a href="javascript:;" (click)="finish('Complete')">完成任务</a>
                    <!-- <a href="javascript:;" (click)="finish('Close')">无法解决</a> -->
                </span>
			</div>
		</div>
		<div class="basic-msg-box">
			<table >
				<thead>
					<tr>
						<th colspan="6">基本信息</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let i of Lines">
                        <td class="on" *ngIf="Basic[2*i]" style="font-weight: bold">{{Basic[2*i].Text}}:</td>
                        <td *ngIf="Basic[2*i]">{{Basic[2*i].Value}}</td>
                        <td class="on" *ngIf="Basic[2*i + 1]" style="font-weight: bold">{{Basic[2*i + 1].Text}}:</td>
                        <td *ngIf="Basic[2*i + 1]" align="left">{{Basic[2*i + 1].Value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="secend-box">
		<div class="secend-sild">
			<h2>工作日志处理</h2>
                <div class="log-container">
                    <div *ngIf="!DealLogs || DealLogs.length == 0"><br />还没有日志处理</div>
                    <div *ngFor="let log of DealLogs; let i=index">
                        <p style="text-indent:-.5em;margin-top: 10px;">【系统默认】</p>
                        <div [ngSwitch]="log.Log.OperationType">
                            <div *ngSwitchCase="'Proess'">
                            <p> 预警由【{{log.User.UserName}}】处理，详细如下：<br />
                                关注类别：{{log.Log.Concern}} <br />
                                问题详细描述：{{log.Log.Description}}<br />
                                解决方法：{{log.Log.Comment}}<br />
                                客户对解决是否满意：
                                <span [ngSwitch]="log.Log.ApprovedType">
                                    <span *ngSwitchCase="'Satisfying'">满意</span>
                                    <span *ngSwitchCase="'InProcess'">处理中</span>
                                    <span *ngSwitchCase="'Dissatisfied'">不满意</span>
                                </span>
                            </p>
							</div>
							
							<div *ngSwitchCase="'Close'">
								<p> 预警由【{{log.User.UserName}}】处理，详细如下：<br />
									关注类别：{{log.Log.Concern}} <br />
									问题详细描述：{{log.Log.Description}}<br />
									解决方法：{{log.Log.Comment}}<br />
									客户对解决是否满意：
									<span [ngSwitch]="log.Log.OperationType">
										<span *ngSwitchCase="'Close'">无法解决</span>
									</span>
								</p>
								</div>

                            <div *ngSwitchDefault>
                                <p>{{log.Log.Comment}}</p>
                            </div> 
                        </div>
                        <p>{{log.Log.SubmitDate}} by {{log.User.UserName}}</p>
                        -------------------------------------------
                    </div>
                </div>
		</div>
	</div>
	<div class="third-box">
		<div class="left-box">
			<h2>答题得分还原</h2>
			<div class="score-box">
				<div class="score" >
					<div *ngFor="let table of Table">
						<ng-container *ngIf="table.VarValues && table.VarValues.length > 0">
						<div class="label-box" >
							<label [ngStyle]="{'display': !table.VarValues || table.VarValues.length == 0 ? 'none' : 'block'}">
								<label *ngIf="table.VarValues && table.VarValues.length > 0">{{table.Text}}</label>
							</label>
						</div>
						<div class="number-box" >
							<div class="number">
								<span *ngFor="let varValue of table.VarValues" class="num-box">
									<span class="on m-l" *ngIf="table.Value && table.Value.indexOf(varValue.VarValueId) >= 0" [title]="varValue.ReportText">{{varValue.ReportText}}</span>
									<span class="m-l" *ngIf="!table.Value || table.Value.indexOf(varValue.VarValueId) < 0" [title]="varValue.ReportText">{{varValue.ReportText}}</span>
								</span>
								<span *ngIf="table.VarValues && table.VarValues.length > 0 && !table.Value" class="num-box">
									<span class="m-l">NA</span>
								</span>							
							</div>
						</div>
						</ng-container >
					</div>
				</div>
			</div>
		</div>
		<div class="right-box" *ngFor="let table of Table">
            <ng-container *ngIf="!table.VarValues || table.VarValues.length == 0">
                <h2>{{table.Text}}</h2>
                <div class="no-answer">
                    {{table.Value}}
                </div>
            </ng-container>
		</div>
	</div>
</div>

<div style="position: absolute;z-index: 100;" >
	<ng-template #content style="padding:0;">
		<div class="sample-box">
			<div class="sample-box-title">
				<h2>样本处理</h2>
			</div>
			<div class="sample-content-box">
				<div class="content-left">
					<div class="content-msg" *ngIf="Basic">
						<p *ngFor="let basic of Basic">
							<label>{{basic.Text}}：</label>
							<span>{{basic.Value}}</span>
						</p>
					</div>
				</div>
				<div class="content-right">
					<form action="" class="form">
						<div class="type-box">
							<p>关注类别：</p>
							<div class="imitate-select">
							<nz-dropdown [nzTrigger]="'click'">
								<div class="imitate" nz-dropdown>
									<div class="choose-box">{{concern}}</div>
									<div class="menu-icon"></div>
								</div>
								<div nz-menu class="menu-box" style="padding-right:7px;">
									<div class="choose" style="max-height: 134px;overflow-y: auto;">
										<ul>
											<li nz-menu-item *ngFor="let c of Concerns" (click)="chooseConcern(c.Text)">{{c.Text}}</li>
										</ul>
									</div>
								</div>
							</nz-dropdown>
							</div>
						</div>
						<div class="question-box">
							<p>问题详细描述:</p>
							<textarea name="desc" [(ngModel)]="Log.Description" placeholder="无"></textarea>
						</div>
						<div class="method">
							<p>解决办法:</p>
							<textarea name="comment" [(ngModel)]="Log.Comment" placeholder="无"></textarea>
						</div>
						<div class="enjoy">
							<p class="yes-no">客户对解决是否满意？</p>
							<nz-radio-group [(ngModel)]="Log.ApprovedType" [ngModelOptions]="{standalone: true}">
						      <label nz-radio [nzValue]="'Satisfying'" (click)="radioChanged('Satisfying')">
						        <span>满意</span>
						      </label>
						      <label nz-radio [nzValue]="'Dissatisfied'" (click)="radioChanged('Dissatisfied')">
						        <span>不满意</span>
						      </label>
						      <label nz-radio [nzValue]="'InProcess'" (click)="radioChanged('InProcess')">
						        <span>处理中</span>
							  </label>
							  <label nz-radio [nzValue]="''" (click)="radioChanged('Close')">
						        <span>无法解决</span>
						      </label>
							</nz-radio-group>
						</div>
						<div class="button-box">
							<button (click)="close()">取消</button>
							<button (click)="handleSave()" [disabled]="!Log.Concern || !Log.Description || !Log.Comment">保存</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</ng-template>
	<ng-template #footer>
      
    </ng-template>
</div>