  @import 'sass/conf/conf';
  @import 'sass/preloader';
  @import 'sass/ionicons';
  @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


  .mat-select{
      padding-top:0;
  } 
 .mat-dialog-container{
     overflow: visible!important;
     padding:0!important;
 }
.mat-menu-item,.mat-option,.mat-select{
    font-family: inherit;
}
 .mat-option{
     font-size:14px;
 }
 .mat-menu-item,.mat-select-trigger{
     font-size: 15px!important;
 }
 .mat-menu-content{
     min-width:150px;
 }
 .mat-form-field-float{
     display: none!important;


 }
.mat-select-underline{
    height: 0!important;
}
.mat-select-placeholder{
    &.mat-floating-placeholder{
        visibility: hidden;
    }
}
.mat-tooltip{
    font-size:16px;
}
.ant-input{
    font-size:14px!important;
}