.table-header-one{
      background-color:#d3d5d7;
    }
    table{
       font-size: 14px;
       text-align: center;
    }
    table tbody tr:first-of-type{
          background-color: #eef6fe;
    }
    table tbody tr td:first-child {
    font: bold;
    text-align: left;
    max-width: 200px;
    min-width: 100px;
   }
.empty{
      padding: 2em;
      width:100%;
      text-align: center;
      color: white;
}