<table *ngIf="!empty ;else emptyRef"  class="component-table table  table-bordered">
     <thead>
         <tr>
             <td></td>
             <td *ngFor="let header of (optionAsync | async)?.array[0].XAxis"><strong>{{header}}</strong></td>
         </tr>
     </thead>
     <tbody>
         <tr>
             <td><strong>样本总量</strong></td>
             <td *ngFor="let s of (optionAsync | async)?.array[0].Series">{{s.Count}}</td>
         </tr>
            <ng-container *ngFor="let s of (optionAsync | async)?.array">
                    <tr *ngFor="let l of s.Legend ; let lIndex=index">
                        <td><strong>{{l}}</strong></td>
<<<<<<< HEAD
                        <td *ngFor="let td of s.Series">{{format(td.Values[lIndex])}}</td>
=======
                        <td *ngFor="let td of s.Series">{{format(td.Values[lIndex])}}</td> 
>>>>>>> a959c50a5affb7139c89cc2cf70350ce9d0840c4
                    </tr>
            </ng-container>
     </tbody>
 </table>
<ng-template #emptyRef>
  <label class="label label-info empty">
    没有数据！
  </label>
</ng-template>