$color-background:#fff;
$color-text:#000;
@mixin width-height($width,$height){
    width:$width;
    height:$height;
}

.loading{
    min-height: 237px;
    display: flex;
    justify-content: center;
    align-content: center;
    md-spinner{
        margin-top:20%;
    }
}
.m-img{
	overflow: hidden;
	li{
        @include width-height(100%,217px);
        float:left;
        background: $color-background;
        padding:20px 0 0 13px;
        >p{
            color:$color-text;
            font-size: 17px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            position: relative;
            padding-right:32px;
            img{
                margin-right:6px;
                vertical-align: middle;
            }
            img:nth-of-type(2){
                position: absolute;
                right:13px;
                top:5px;
            }
            .m-hover{
                display: none;
                position: absolute;
                left:0;
                top:25px;
                border-radius: 6px;
                height: 48px;
                line-height: 48px;
                padding:0 14px;
                background: rgba(0,0,0,0.7);
                color:#fff;
                font-size: 16px;
                span{
                    position: absolute;
                    left:50%;
                    top:-10px;
                    width:10px;
                    height:10px;
                    border-bottom:5px solid rgba(0,0,0,0.7);
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid transparent;
                    display: inline-block;
                }
            }
        }
        >p:hover .m-hover{
            display: block;
        }
    }
    .m-imgColor{
        @include width-height(45%,142px);
        font-size: 36px;
        color:$color-background; 
        text-align: center;
        float:left;
        margin-top:17px;
    }
    .m-imgColor:first-of-type{
        border-radius: 4px 0 0 4px;
        padding-top:48px;
    }
    .m-imgColor:last-of-type{
        border-radius: 0 4px 4px 0;
        line-height: 142px;
    }
 
}
.m-imgNum{
	font-size: 20px;
	margin-top:25px;
	.year{
        font-size: 16px;
        font-weight: 700;
    }
    .proportion{
        height:18px;
        .proportion-img{
            @include width-height(80%,20px);
            background: #DDE4E8;
            border-radius: 4px;
            position: relative;
            float:left;
            margin-top:5px;
            p{
                position: absolute;
                left:0;
                top:0;
                height:20px;
                border-radius: 4px;
            }
        }
        .proportion-num{
            font-family: 'DINAlternate-Bold';
            height:18px;
            display: inline-block;
            line-height: 27px;
            float:left;
            font-size:14px;
        }   
    }
}

.tooltip{
    font-size: 16px;
}