
<ng-container [ngSwitch]="(status | async)" >
	<div *ngSwitchCase="'loading'" class="loading">
		<md-spinner  [strokeWidth]="1"></md-spinner>
	</div> 
	<ul *ngSwitchCase="'data'" class="m-img">
		<li *ngFor = "let deg of schema?.data?.degree">
			<p><img src="{{deg.icon}}" alt="" /><span>{{deg.text}}</span>
				<!-- <img src="assets/img/cuo.png" alt="" (click)="delete($event)"/> -->
			</p>
			<div class="m-imgNum">
				<p class="year" [style.color]="deg.thisColorUp">{{deg.thisYear}}</p>
				<div class="proportion">							
					<div class="proportion-img" [style.background]="deg.thisColorDown"><p [style.background]="deg.thisColorUp" [style.width]="deg.thisPercentage"></p></div>
					<span class="proportion-num" [style.color]="deg.thisColorUp">{{deg.thisPercentage}}</span>
				</div>
			</div>
			<div class="m-imgNum">
				<p class="year" [style.color]="deg.lastColorUp">{{deg.lastYear}}</p>
				<div class="proportion">							
					<div class="proportion-img" [style.background]="deg.lastColorDown"><p [style.background]="deg.lastColorUp" [style.width]="deg.lastPercentage"></p></div>
					<span class="proportion-num" [style.color]="deg.lastColorUp">{{deg.lastPercentage}}</span>
				</div>
			</div>
		</li>
	</ul>
</ng-container>
