
 <ul   class="m-img">
            <li  *ngFor = "let num of (schema | async)?.data?.number">
                <div [ngClass]="{hidden:(status | async)!='data'}" >
                <p><img src="{{num.icon}}" alt="" />{{num.text}}</p>
                <div class="m-imgColor" [style.background]="num.imgBackground"><img src="{{num.img}}" alt="" /></div>
                <div class="m-imgColor" [style.background]="num.numBackground">{{num.num}}</div>
               </div>
                <div class="loading" [ngClass]="{hidden:(status | async)!='loading'}">
                        <md-spinner  [strokeWidth]="1"></md-spinner>
                </div>
            </li>
     

        </ul>
