$color-background:#fff;
$color-text:#000;
@mixin width-height($width,$height){
    width:$width;
    height:$height;
}

.m-img{
    overflow: hidden;
    padding: 0;
	li{
        @include width-height(19.2%,217px);
        float:left;
        background: $color-background;
        padding:20px 0 0 13px;
        margin:20px 1% 0 0;
        >p{
            color:$color-text;
            font-size: 17px;
            img{
                margin-right:6px;
                vertical-align: middle;
            }
            img:nth-of-type(2){
                float:right;
                margin:5px 13px 0 0;
            }
        }
    }
    .m-imgColor{
        @include width-height(45%,142px);
        font-size: 36px;
        color:$color-background; 
        text-align: center;
        float:left;
        margin-top:17px;
    }
    .m-imgColor:first-of-type{
        border-radius: 4px 0 0 4px;
        padding-top:48px;
    }
    .m-imgColor:last-of-type{
        border-radius: 0 4px 4px 0;
        line-height: 142px;
    }
    li:last-of-type{
        margin:20px 0 0 0;
    }
}
.m-imgNum{
	font-size: 20px;
	margin-top:25px;
	.year{
        font-size: 16px;
        font-weight: 700;
    }
    .proportion{
        height:18px;
        .proportion-img{
            @include width-height(57.5%,8px);
            background: #DDE4E8;
            border-radius: 4px;
            position: relative;
            float:left;
            margin-top:5px;
            p{
                position: absolute;
                left:0;
                top:0;
                height:8px;
                border-radius: 4px;
            }
        }
        .proportion-num{
            font-family: 'DINAlternate-Bold';
            height:18px;
            display: inline-block;
            line-height: 18px;
            float:left;
            margin-left:5px;
        }   
    }
}
.hidden{
    display: none!important;
}
.loading{
    height: 237px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    background: white;
    padding-top: 40px;
    }
