

<div class="login">
        <form class="l-main" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <h3 class="l-title"><img src="/assets/img/denglu_logo.png" alt="" /><span>登录</span></h3>
            <div class="l-inputBox">
                <img src="/assets/img/person.png" alt="" />
                <input type="text"  [formControl]="name"  placeholder="请输入用户名"/>
            </div>
            <div class="l-inputBox">
                <img src="/assets/img/password.png" alt="" />
                <input type="text"  [formControl]="password" type="password"  placeholder="请输入密码"/>
            </div>

            <div class="l-inputBox">
                <a ><button type="submit">登录</button></a>			
            </div>
            <div *ngIf="hasError" class=" l-inputBox error">
                你输入的用户名或密码有误！
            </div>
        </form>
    </div>
    <app-footer class="login-footer"></app-footer>