<div class="main">

<div class="row">
<button (click)="pdfExport()" class="btn btn-primary btn-lg" >PDF导出</button>
<!-- <button (click)="excelExport()" class="btn btn-primary btn-lg" >Excel数据导出</button> -->
</div>

<div class="info" *ngIf="(completed|async)!=0">
   <md-progress-bar class="progress" [mode]="'determinate'" [value]="(completedCount|async)"> </md-progress-bar>
</div>
</div>