
<div class="body">
    <button class="btn btn-primary right" [routerLink]='"/pages/sampledata"'>返回</button>
    <table class="table-suggestion table-bordered table-ipsos table-x" *ngIf="RespDatas && labelWithSuggestions">
        <tbody>
            <tr *ngFor="let lWS of labelWithSuggestions">
                <td class="ipsos-info">
                    {{lWS.Key.ShowText}}
                </td>
                <td>
                    
                    <div class="table_label" *ngFor="let s of lWS.Value">
                        <h5 style="color:#7caedc">{{s.ShowText}}</h5>
                    <h6>{{getValue(s.VarId)}}</h6>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>