@import "../../../theme/sass/conf/conf";
.body {
    background-color: RGB(231,238,243);
    color: #333;
    font-size: 0.85em;
    font-family: "Microsoft YaHei","Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    height: 100%;
    margin: 0 auto;
    padding:2em;
}

.table-suggestion tr {
    height: 7em;
}

.table-ipsos {
    background-color: white;
    width: 100%;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 1px solid #e7eef3;
}

.table-ipsos > tbody > tr > td {
    padding: 4px;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
}

.table-ipsos > tbody > tr td:nth-of-type(2) {
    min-width:60px;
    font-size: 1.2em;
}
table tbody tr:first-of-type{
    background-color:white;
}
.ipsos-info {
    background-color: #c1c1c1;
    color: white;
}

.table_label {
    background-color: #eff8f5;
    margin-left: 0.4em;
    padding: 1em;
    float: left;
    margin:0.1em;
}

h5, h6 {
    font-size: 1em;
}
.back{
    color:$primary;
}