<div md-dialog-content>
      <ipsos-component [component]='data.component' [blockInPipe]="data.pipeIn"></ipsos-component>
      <div class="row center" [style.text-align]="'center'"><button  class="btn btn-primary btn-lg"
        (click)="dialogRef.close(data)">确定</button></div>
    </div>