<div  class="row">
    <div *ngFor="let item of components | async">
      <ipsos-component [blockInPipe]="blockInPipe" [blockOutPipe]="blockOutPipe"   *ngIf="item.Show" [component]='item'></ipsos-component>
     </div>
</div>