*{
	margin:0;
	padding:0;
}
.early-warning-box{
	margin-top: 30px;
	min-height: 700px;
	.early-warning{
		font-family: PingFangSC;
		.title{
			font-family: PingFangSC;
			h2{
				font-size: 20px;
				text-align: left;
				color: #404652;
			}
		}
		.big-table-box{
			background-color: #fff;
			width:100%;
			margin-top: 20px;
			.table-title{
				height: 66px;
				line-height: 66px;
				padding-left: 10px;

				.form-box{
					background-color: #fff;
					.selects-box{
						float: left;
						margin-right: 20px;
						label{
							font-size: 14px;
							text-align: left;
							color: #000000;
							margin-right:10px;
						}
						select{
							min-width: 120px;
							height: 28px;
							border-color: rgba(35,109,192,0.4);
							margin-left: 10px;
							font-size: 12px;
							color: #000;
							padding-left:5px;
						}
					}
					.form-button{
					    float:right;
					    margin:20px 20px 20px 0;
					    button{
					        width:62px;
					        height:28px;
					        font-size: 14px;
					        float:left;
					        line-height: 28px;
					    }
					    button:first-of-type{
					        background-color: #236dc0;
					        color:#fff;
					        border:1px solid #236dc0;
					    }
					    button:last-of-type{
					        background-color: #f8fafb;
                            border: solid 1px #e0e7ec;
                            color: #000000;
					    }
					}
				}
			}
			.table-box{
				table::-webkit-scrollbar-thumb{
					background: #b0c3d0;
					cursor: pointer;
				}
				table::-webkit-scrollbar {
					width: .6em;
					height: .6em;
				}
				table::-webkit-scrollbar-track {
					background: rgba(255,255,255,0.7);
				}
				table{
					width: 100%;
					overflow: auto;
					border-collapse:collapse;
					display: inline-block;
					thead{
						background-color: #f8fafb;
						height: 38px;
						tr{
							th{
								border:1px solid #e0e7ec;
								width: 14.2%;
								text-align: center;
								height: 38px;
								font-family: PingFangSC;
								font-size: 16px;
								color: #404652;
								font-weight: 300;
								min-width: 140px;
							}
						}
					}
					tbody{
						tr{
							td{
								border:1px solid #e0e7ec;
								width: 14.2%;
								text-align: center;
								height: 38px;
								font-family: PingFangSC;
								font-size: 14px;
								color: #6b7791;
								background-color: #fff;
								min-width: 140px;
							}
							.table-name{
								cursor: pointer;
								color: #236dc0;
							}
						}
					}
				}
			}
		}
	}
}
.view{
    .page{
        float:right;
        margin-top:20px;
    }
}

nz-select{
	width: 150px
}