<div class="early-warning-box">
	<div class="early-warning">
		<div class="title">
			<h2>预警</h2>
		</div>
		<!--<app-num [company] = "company"></app-num>-->
		<div class="big-table-box">
			<div class="table-title">
				<form class="form-box" >

					<div class="selects-box">
						<label>{{title}}：</label>
						<nz-select [nzSize]="size" name="hotel" [(ngModel)]="VarFilter.OptionValues[0]">
					      <nz-option *ngFor="let o of UserOptions" 
					        [nzLabel]="o.ReportText"
					        [nzValue]="o.VarValueId">
					      </nz-option>
					   </nz-select>
					</div>

                    <!--<div class="selects-box">
						<label>题目分值筛选：</label>
						<nz-select [nzSize]="size" name="groupvar" [(ngModel)]="ScoreFilter.VarId">
					      <nz-option *ngFor="let item of GroupVars"
                            [nzDisabled]="!item.VarId"
					        [nzLabel]="item.VarId ? item.Code + '(' + item.ReportText + ')' : item"
					        [nzValue]="item.VarId"
                            [title]="item.VarId ? item.Code + '(' + item.ReportText + ')' : item">
					      </nz-option>
					   </nz-select>
					</div>

                    <div class="selects-box">
						<nz-select [nzSize]="size" [nzMultiple]="true" name="score" [(ngModel)]="ScoreFilter.OptionValues"> 
					        <nz-option [nzValue]="'1'" [nzLabel]="'1'"></nz-option>
                            <nz-option [nzValue]="'2'" [nzLabel]="'2'"></nz-option>
                            <nz-option [nzValue]="'3'" [nzLabel]="'3'"></nz-option>
                            <nz-option [nzValue]="'4'" [nzLabel]="'4'"></nz-option>
                            <nz-option [nzValue]="'5'" [nzLabel]="'5'"></nz-option>
                            <nz-option [nzValue]="'6'" [nzLabel]="'6'"></nz-option>
                            <nz-option [nzValue]="'7'" [nzLabel]="'7'"></nz-option>
                            <nz-option [nzValue]="'8'" [nzLabel]="'8'"></nz-option>
                            <nz-option [nzValue]="'9'" [nzLabel]="'9'"></nz-option>
                            <nz-option [nzValue]="'10'" [nzLabel]="'10'"></nz-option>
					    </nz-select>
					</div>-->

                    <div class="selects-box">
						<label>处理状态：</label>
						<nz-select [nzSize]="size" name="status" [(ngModel)]="this.StatusFilter.OptionValues[0]">
					        <nz-option [nzValue]="'New'" [nzLabel]="'新增'"></nz-option>
                            <nz-option [nzValue]="'Process'" [nzLabel]="'处理中'"></nz-option>
							<nz-option [nzValue]="'PastSevenDay'" [nzLabel]="'7天未处理'"></nz-option>
                            <nz-option [nzValue]="'Close'" [nzLabel]="'无法解决'"></nz-option>
                            <nz-option [nzValue]="'Complate'" [nzLabel]="'完成'"></nz-option>
					   </nz-select>
					</div>

                    <div class="selects-box">
						<label>预警时间：</label>
						<nz-select [nzSize]="size" name="time" [(ngModel)]="AlertTimeType" (ngModelChange)="timeChange()">
					        <nz-option [nzValue]="'PastSixMonth'" [nzLabel]="'最近六个月'"></nz-option>
                            <nz-option [nzValue]="'PastThreeMonth'" [nzLabel]="'最近三个月'"></nz-option>
                            <nz-option [nzValue]="'PastTwoMonth'" [nzLabel]="'最近两个月'"></nz-option>
                            <nz-option [nzValue]="'PastOneMonth'" [nzLabel]="'最近一个月'"></nz-option>
                            <nz-option [nzValue]="'PastOneWeek'" [nzLabel]="'最近一周'"></nz-option>
                            <nz-option [nzValue]="'PastOneDay'" [nzLabel]="'最近一天'"></nz-option>
					   </nz-select>
					</div>

					<div class="form-button">
						<button (click)="search()">运行</button>
						<button (click)="back()">返回</button>
					</div>
				</form>
			</div>
			<div class="table-box">
				<table cellspacing >
					 <thead *ngIf="Headers" id="hotalertcolumn">
                        <tr>
                            <th *ngFor="let h of Headers" class="tr_title"> {{h.Text}} </th>
                            <th class="tr_title">处理状态</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngIf="DataList.length==0 && !searching"><td>暂时没有数据</td></tr>

                        <tr *ngFor="let item of DataList">
                            <td *ngFor="let h of Headers; let i = index">
                                <span *ngIf="i <= 1"><a (click)="goDetail()" routerLinkActive="active"  [routerLink]='["/pages/closedloop/detail",{pId:pId, pjId:PjId, id:moduleid, respId:item.RespId}]'>{{getDataTextByVarCode(item, h.Code)}}</a></span>
                                <span *ngIf="i > 1">{{getDataTextByVarCode(item, h.Code)}}</span>
                            </td>
                            <td [ngSwitch]="item.AlertStatus">
                                <span *ngSwitchCase="'New'">新增</span>
                                <span *ngSwitchCase="'Complate'">结案</span>
                                <span *ngSwitchCase="'Close'">无法解决</span>
                                <span *ngSwitchCase="'Process'">处理中</span>
                                <span *ngSwitchCase="'None'">其它</span>
                            </td>
                        </tr>
                    </tbody>
				</table>
				<div class="view">
					<nz-pagination class="page" [nzPageIndex]="1" [nzTotal]="totalPage" [nzPageSize]="15" nzShowQuickJumper (nzPageIndexChange)="indexChange($event)"></nz-pagination>
				</div>
			</div>
		</div>
		
	</div>
</div>