/*--  页面底部部样式 结束  --*/

/*--  遮罩  --*/

.layer_bg {
    background-color:rgba(0,0,0,0.5);
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;

    display:none;
}

.layer_body{
  
        width: 120%;
    margin: -10%
}

.layer_body .layer_title{
    background-color:#000;
    padding:0 5%;
    height:50px;
}
.layer_body .layer_data{
    background-color:#404040;
}

.layer_body .layer_title > div{
    font-size:16px;
    color:#fff;
    height:50px;
    line-height:50px;
    display:inline-block;
}

.layer_body .layer_title > div.right{
    width:25px; 
    text-align:center;
    cursor:pointer;
}

.layer_body .layer_data input{
    border:1px solid #1c8cb4;
    height:40px;
    line-height:40px;
    width:90%;
    margin:5px 5%;
    text-indent:5px;
}

.city{
    max-height:400px;
    overflow-y:auto;
    border-top:1px solid #000;
}

.city_item {
    border-bottom:1px solid #000;
    color:#ccc;
    height:40px;
    line-height:40px;
    padding: 0 5%;
    cursor:pointer;
}

.city_item img{
    vertical-align:middle;
    margin-right:10px;
}

.city_item:hover{
    background-color:#000;
}

/*--  遮罩 结束 --*/