
<div class="layer_body" style="display: block;">
        <div class="layer_con">
            <div class="layer_title">
                <div class="left">选择一个项目</div>
                <div class="right"></div>
                <div class="clear"></div>
            </div>
            <div class="layer_data">
                <input type="text" [formControl]="stateCtrl">
                <div class="city">
                    <div class="city_item" *ngFor="let project of filteredStates | async" (click)="GoProject(project)">{{project.Name}}</div>
                </div>
            </div>
        </div>
</div>