<div *ngFor="let item of components  | async">
<ipsos-component  [blockInPipe]="blockInPipe" [blockOutPipe]="blockOutPipe" [config]="config" [blockData]="chartCount"  [component]='item'></ipsos-component>
</div>

<div class="yujing">
    <table class="warn-table warning" *ngIf="AlertSituation">
        <thead>
            <tr>
                <th colspan="3">预警情况</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>预警总量</td>
                <td><img src="../../../../../assets/img/s_yujingnum.png" alt="" /></td>
                <td>{{AlertSituation.All}}</td>
            </tr>   
            <tr>
                <td>未处理总量</td>
                <td><img src="../../../../../assets/img/s_weichuli.png" alt="" /></td>
                <td>{{AlertSituation.New}}</td>
            </tr>
            <tr>
                <td>7天未处理</td>
                <td><img src="../../../../../assets/img/s_7tian.png"  alt="" /></td>
                <td>{{AlertSituation.PastSevenDay}}</td>
            </tr>
            <tr>
                <td>处理中</td>
                <td><img src="../../../../../assets/img/s_chulizhong.png" alt="" /></td>
                <td>{{AlertSituation.Process}}</td>
            </tr>
            <tr>
                <td>结案</td>
                <td><img src="../../../../../assets/img/s_jiean.png" alt="" /></td>
                <td>{{AlertSituation.Complete}}</td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="AlertStatistics.length > 0">
        <h3 class="warning-tj">预警统计</h3>
        <table class="warn-table" style="margin-bottom: 30px;">
            <colgroup>
                <col width="30%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
            </colgroup>
            <thead>
                <tr>
                    <td style="text-align:left; padding-left:21px;">{{title}}</td>
                    <td>预警总量</td>
                    <td>未处理总量</td>
                    <td>7天未处理</td>
                    <td>处理中</td>
                    <td>结案</td>
                    <td>无法解决</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of AlertStatistics">
                    <td><a (click)="goList()" routerLinkActive="active"  [routerLink]='["/pages/closedloop/list", {pId:pId, pjId:pjId, id: moduleid, varValueId:item.VarValue ? item.VarValue.VarValueId : 0, status: "All"}]'>{{item.VarValue ? item.VarValue.ReportText : "总计"}}</a></td>
                    <td><a (click)="goList()" routerLinkActive="active"  [routerLink]='["/pages/closedloop/list", {pId:pId, pjId:pjId, id: moduleid, varValueId:item.VarValue ? item.VarValue.VarValueId : 0, status: "All"}]'>{{item.All}}</a></td>
                    <td><a (click)="goList()" routerLinkActive="active"  [routerLink]='["/pages/closedloop/list", {pId:pId, pjId:pjId, id: moduleid, varValueId:item.VarValue ? item.VarValue.VarValueId : 0, status: "New"}]'>{{item.New}}</a></td>
                    <td><a (click)="goList()" routerLinkActive="active"  [routerLink]='["/pages/closedloop/list", {pId:pId, pjId:pjId, id: moduleid, varValueId:item.VarValue ? item.VarValue.VarValueId : 0, status: "PastSevenDay"}]'>{{item.PastSevenDay}}</a></td>
                    <td><a (click)="goList()" routerLinkActive="active"  [routerLink]='["/pages/closedloop/list", {pId:pId, pjId:pjId, id: moduleid, varValueId:item.VarValue ? item.VarValue.VarValueId : 0, status: "Process"}]'>{{item.Process}}</a></td>
                    <td><a (click)="goList()" routerLinkActive="active"  [routerLink]='["/pages/closedloop/list", {pId:pId, pjId:pjId, id: moduleid, varValueId:item.VarValue ? item.VarValue.VarValueId : 0, status: "Complate"}]'>{{item.Complete}}</a></td>
                    <td><a (click)="goList()" routerLinkActive="active"  [routerLink]='["/pages/closedloop/list", {pId:pId, pjId:pjId, id: moduleid, varValueId:item.VarValue ? item.VarValue.VarValueId : 0, status: "Close"}]'>{{item.Close}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div *ngIf="AlertStatistics.length <= 0 && !AlertSituation"  class="main-view show">
        <p>您好，请选择筛选条件并点击<span class="important">"运行"</span>查看相应结果</p>
</div>