<form id="form1" runat="server">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" (click)="dialogRef.close(null)">&times;</button>
        <h4 class="modal-title" id="myModalLabel">样本处理</h4>
    </div>
    <div class="modal-body">
        <table width="100%" cellpadding="4" cellspacing="10">
            <tr>
                <td style="width: 50%; border-right: 1px solid #ddd; vertical-align: top;">
                    <div id="customerInfo">
                        <div *ngFor="let basic of Basics">
                            <label class="control-label" style="margin-top: 5px">{{basic.Text}}:</label>
                            <label class="control-label" style="margin-top: 5px">{{basic.Value}}</label>
                            <br />
                        </div>
                    </div>
                </td>
                <td style="width: 50%">
                    <label class="control-label" style="margin-top: 5px">关注类别</label><br />
                    <select class="form-control" id="ddlcategory" name="concern" [(ngModel)]="Log.Concern">
                        <option value="undefined">请选择</option>
                        <option *ngFor="let c of Concerns" [value]="c.Text">{{c.Text}}</option>
                    </select>

                    <label class="control-label" style="margin-top: 5px">问题的详细描述</label>
                    <br />
                    <textarea class="form-control" rows="3" id="txtdescribtion" name="desc" [(ngModel)]="Log.Description">无</textarea>

                    <label class="control-label" style="margin-top: 5px">解决方法</label>
                    <br />
                    <textarea class="form-control" rows="3" id="txtSoluteMethod" name="comment" [(ngModel)]="Log.Comment">无</textarea>

                    <label class="control-label" style="margin-top: 5px">客户对解决是否满意</label>
                    <br />
                    <label class="checkbox-inline">
                        <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="Satisfying" name="approvedType" [(ngModel)]="Log.ApprovedType" checked>
                        满意
                    </label>

                    <label class="checkbox-inline">
                        <input type="radio" name="optionsRadiosinline" id="optionsRadios4" value="InProcess" name="approvedType" [(ngModel)]="Log.ApprovedType">
                        不满意
                    </label>

                    <label class="checkbox-inline">
                        <input type="radio" name="optionsRadiosinline" id="optionsRadios5" value="Dissatisfied" name="approvedType" [(ngModel)]="Log.ApprovedType">
                        处理中
                    </label>
                    <br />
                    
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" id="myModalClose" (click)="dialogRef.close(null)"> 取消 </button>
        <button type="button" class="btn btn-primary" id="btnadd" (click)="dialogRef.close(Log)"> 提交更改 </button>
    </div>
</form>