<div class="user">
   <ul>
     <li><img src="/assets/img/user-profile.png"/>
    </li>
     <li class="name">{{User.userName}}</li>
     <li class="type">{{User.type}}</li>
   </ul>
</div>
  <nav class="nav">
    <ul class="main-w n-nav">
      <a>
        <li class="first-class">主导航</li>
      </a>
      <ng-container  *ngFor="let module of (modules  ); let i=index" >
        <a   [routerLink]='["/pages/dashboard",{pjId:pjId,id:module.Id}]'>
          <li [ngClass]="{'active':module.active}"> 

            <img *ngIf="module.active;" [src]="'/assets/img/'+module.Icon+'-white.png'">
            <img *ngIf="!module.active;" [src]="'/assets/img/'+module.Icon+'.svg'">
            {{module.Title}}
            <span>></span>
          </li>
        </a>
      </ng-container>
      <a>
        <li class="first-class">用户管理</li>
        <li><img src="/assets/img/user-info.svg"> 用户信息<span>></span></li>
        <li><img src="/assets/img/quit.svg"><a class="quit" [routerLink]='["/"]'>退出</a></li>
      </a>
    </ul>
  </nav>

    