@import '../../sass/conf/conf';

$line-height:80px;
.page-top {
  z-index: 904;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
  height: $line-height;
  width: 100%;
  min-width: $resMin;
  border-bottom: 2px solid #3d3d3d;
  overflow: hidden;
  .dropdown-toggle::after {
    display: none;
  }
}
.split{
  width:1px;
  background-color:$border;
  height:$line-height*0.6;
  display: inline-block;
  margin-bottom: $line-height*0.2;
}
.blur {
  .page-top.scrolled {
    background-color: rgba(black, 0.85)
  }
}
svg{
  fill:currentColor;
  height:$line-height;
}
a.al-logo {
  color: $sidebar-text;
  display: block;
  font-size: 24px;
  font-family: $font-family;
  white-space: nowrap;
  float: left;
  outline: none !important;
  line-height: $line-height*0.93;
  padding-left:0.2em;
  img{
      width:$line-height*0.8;
      height: $line-height*0.8;
  }
  span {
    color: $primary;
  }
}
.nav-link{
  width:100%;
  margin-right:-30%;
  text-align: left;
  margin-left: 5%;
  a{
  clear:both;
  line-height: $line-height;
  padding:0 2em;
  display: inline-block;
  margin-left:-4px;
  margin-right:-4px;
  font-size:16px;
  color:#000;
  &:not([href]){
    color:#000;
  }
  &:hover{
    background-color:$primary;
    color:white!important;
    cursor:pointer;
  }
  &.active{
    color:white;
    background-color:$bootstrap-panel-header-bg;
  }
   b{
     float: right;
    margin-left: 10px;
    font-weight:normal;
   }
  }
}
a.al-logo:hover {
  color: $primary;
}

.user-profile {
  float: right;
}

.al-user-profile {
  float: right;
  margin-right: 12px;
  transition: all .15s ease-in-out;
  padding: 0;
  line-height: $line-height;
  border: 0;
  opacity: 1;
  position: relative;
  display: inline-flex;
  a {
    display: block;
    margin:0 0.3em;
    &.sigin-out{
      color:$primary;
    }
  }
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}

a.refresh-data {
  color: $sidebar-text;
  font-size: 13px;
  text-decoration: none;
  font-weight: $font-normal;
  float: right;
  margin-top: 13px;
  margin-right: 26px;

  &:hover {
    color: $warning !important;
  }
}

a.collapse-menu-link {
  font-size: 31px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  line-height: 42px;
  color: $sidebar-text;
  padding: 0;
  float: left;
  margin: 11px 0 0 25px;

  &:hover {
    text-decoration: none;
    color: $warning;
  }
}

.al-skin-dropdown {
  float: right;
  margin-top: 14px;
  margin-right: 26px;

  .tpl-skin-panel {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.icon-palette {
  display: inline-block;
  width: 14px;
  height: 13px;
  @include bg('theme/palette.png');
  background-size: cover;
}


@media screen and (max-width: $resS) {
    a.al-logo{
        display: none;
    }
    .nav-link{
        a{
            b{
                display: none;
            }
        }
    }
}

@media screen and (max-width: $resXS) {
  .page-top {
   // padding: 0 20px;
      padding: 0;
  }
  .nav-link{
    margin:0;
  }
}

@media (max-width: $resXXS) {
  .user-profile{
    min-width: 136px;
  }
  a.refresh-data {
    margin-right: 10px;
  }
  a.collapse-menu-link {
    margin-left: 10px;
  }

  .al-skin-dropdown {
    display: none;
  }
}



.profile-toggle-link{
  cursor: pointer;
}

/*--  页面头部样式 开始  --*/
#hxzs_header {
    background-color:#eff8f5;min-width:1250px;
    border-bottom:2px solid #3d3d3d;
}

    #hxzs_header > div {
        width:1180px;
		background-color: #eff8f5;
        height:98px;
        margin:0 auto;
    }

    #hxzs_header > div > div > img{
        margin-top:9.5px;
    }

    .div_body .data_con{
        width:1180px;
        margin:0 auto;
    }

	
	
/*--  logo 图占位  --*/
#hxzs_header .left .hxzs_div_img_clear {
    width: 142px;
}

.hxzs_div_img_clear {
    font-size: 0;
}

.left {
    float: left;
}


/*--  导航基础设置  --*/
nav .hxzs_div_img_clear {
    width: 142px;
    height: 98px;
    line-height: 98px;
    text-align: center;
    float: left;
}

/*--  选中效果  --*/
.selected {
    background-color: #c1c5c4;
}


/*--  个人头像与名称  --*/
.right .hxzs_div_img_clear {
    height: 98px;
    line-height: 98px;
    text-align: center;
    width: auto;
    cursor: pointer;
}

    /*--  导航与个人信息基础样式  --*/
    nav .hxzs_div_img_clear img, nav .hxzs_div_img_clear span, .right .hxzs_div_img_clear img, .right .hxzs_div_img_clear span {
        vertical-align: middle;
        margin: 0;
    }

    nav .hxzs_div_img_clear span, .right .hxzs_div_img_clear span {
        margin-left: 5px;
        font-weight: bold;
        font-size: 16px;
    }

    .right .hxzs_div_img_clear span {
        width: 105px;
        display: inline-block;
    }

header a {
    color: #333 ;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}


header a:hover,header a:focus {
    color: #23527c ;
    text-decoration: underline;
}

.hxzs_text_hide {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}



/*--  页面头部样式 结束  --*/

