@keyframes rotate360 {
	0% {
		transform : rotate(0deg);
	}
	8% {
		transform : rotate(30deg);
	}
	16% {
		transform : rotate(60deg);
	}
	24% {
		transform : rotate(90deg);
	}
	32% {
		transform : rotate(120deg);
	}
	40% {
		transform : rotate(150deg);
	}
	48% {
		transform : rotate(180deg);
	}
	56% {
		transform : rotate(210deg);
	}
	64% {
		transform : rotate(240deg);
	}
	72% {
		transform : rotate(270deg);
	}
	80% {
		transform : rotate(300deg);
	}
	88% {
		transform : rotate(330deg);
	}
	100% {
		transform : rotate(360deg);
	}
  }
#preloader {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  top: 0;
  background: rgba(0,0,0,0.8);   
  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 70px;
    height: 66px;
    -webkit-animation-name: rotate360;
    animation-name: rotate360;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
