@import '../../sass/conf/conf';
    ul{
        padding:0;
        text-align: center;
        margin-bottom:0;
        li{
            display: inline-flex;
            flex-direction:column;
            align-items: center;
            padding:10px 5%;
            border-right: 1px solid #d3d5d7;
            font-weight:bold;
            span{
                text-align: center;
                padding:0.2em;
                &.value{
                    color:$primary;
                }
                &.header{
                    font-weight: bold;
                }
            }
         &:last-of-type{
             border-right: none;
         }  
        }
    }