<ul>
  <li *ngFor="let o of (optionAsync | async)">
    <span class="header">{{o[0].Text}}</span>
    <span class="value" [style.color]='o[1].value.style.color'>{{format(o[1].dataFormat,o[0].Series[0].Values[0])}}</span>
  </li>
</ul>