.data-table{
	width:100%;
	border:1px solid #e0e7ec;
	border-collapse: collapse;
	border-spacing: auto;
	text-align: center;
	background:#fff;
	box-shadow: -1px -0px 0 0 #e0e7ec, 1px 0 0 0 #e0e7ec, -0px -1px 0 0 #e0e7ec, 0px 1px 0 0 #e0e7ec;
	thead{
		background-color: #f8fafb;
	    tr{
            
            th{
                color: #404652;
                font-size:16px;
                font-weight: normal;
                padding:19px 0 11px 0;
				border:1px solid #e0e7ec;
				text-align: center;
                img{
                	width:28px;
                	height:28px;
                	margin-top:10px;
                }
                input{
                	width: 132px;
					height: 28px;
					border-radius: 4px;
					background-color: #ffffff;
					border: solid 1px #e0e7ec;
					text-align:center;
					margin-top:10px;
                }
            }
        }
	}
	tbody{
		tr{
			height: 38px;
			color: #6b7791;
			font-size:16px;
			td{
				border:2px solid #e0e7ec;
				width: 255px;
				position: relative;
				.ant-menu{
					width: 100%;
					border-right: none;
					position: absolute;
					top: 0;
					left:0;
					font-family: PingFangSC;
					font-size: 14px;
					text-align: left;
					color: #74838e;

					.anticon{
						font-size: 16px;
					}
				}
				img{
					vertical-align: middle;
					margin:0 8px 0 5px;
				}
				.rank{
					width:21px;
					height:21px;
				}
				.date{
					width:22px;
					height:22px;
				}
				.align{
					width:20px;
				}
			}
			td:first-of-type{
			    border:none;
			}
		}
	}
}

