
<ng-container [ngSwitch]="(status | async)" >
		<div *ngSwitchCase="'loading'" class="main">
			<md-spinner  [strokeWidth]="1"></md-spinner>
		</div> 
		<!-- <md-progress-bar *ngIf="completedCount>0&&completedCount<100" class="progress" [mode]="'buffer'" [value]="completedCount"> </md-progress-bar> -->
		<table *ngSwitchCase="'data'" class="data-table">
			<thead>
				<tr>
					<th>各级指标名称</th>
					<th>样本量</th>
					<th>得分</th>
					<!-- <th>与上一月比较</th> -->
					<th>与上一年比较</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor = "let v of table; first as isFirst">
					<td style="text-align : left; padding-left : 20px;"><span [style.marginLeft] = "v.leave"></span>{{v.space}}<i *ngIf="v.HasChildren" class="{{v.className}}" (click)="toggle_subitem(v.ComponentId);"></i>{{v.ShowText}}</td>
				
				    <td>
						<label class="align">
							{{v.Data?.Datas[0].Series[0].Count}}
						</label>
					</td>
					<td>
						<label class="align">
								{{getCurrent(v.Data?.Datas)}}
						</label>

					</td>
					<!-- <td>
							<ng-container [ngSwitch]="compare(v,'环比')">
									
									<div *ngSwitchCase="'up'"><img  class="date" src='/assets/img/single-up.png'/>
										 <label class="align">
											{{compareValue(v,'环比')}}
											</label>
										</div>
									<div *ngSwitchCase="'equal'"><img class="date" src='/assets/img/single-right.png'/>
										<label class="align">
											{{compareValue(v,'环比')}}
										</label>
									</div>
									<div *ngSwitchCase="'down'"><img class="date" src='/assets/img/single-down.png'/>
									  <label class="align">
										  {{compareValue(v,'环比')}}
									  </label>
									</div>
									<div *ngSwitchCase="'unknown'">
										<label class="align">
												N/A
											</label>
									</div>
								 </ng-container> 
						
					</td> -->
					<td>
							<ng-container [ngSwitch]="compare(v,'同比')">
									<div *ngSwitchCase="'up'"><img class="date" src='/assets/img/single-up.png'/>
										<label class="align">
												{{compareValue(v,'同比')}}
											</label>
									</div>
									<div *ngSwitchCase="'equal'"><img class="date" src='/assets/img/single-right.png'/>
										<label class="align">
												{{compareValue(v,'同比')}}
											</label>
										</div>
									<div *ngSwitchCase="'down'"><img class="date" src='/assets/img/single-down.png'/>
										<label class="align">
												{{compareValue(v,'同比')}}
											</label>
									</div>
									<div *ngSwitchCase="'unknown'">
										<label class="align">
												N/A
											</label>
									</div>
								 </ng-container> 
					
				</tr>
			</tbody>
		</table>				
	</ng-container>