<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta id="apiUrl" content="http://er.api.dev.ipsos.com.cn/api/">
  <meta id="apiHost" content="http://er.api.dev.ipsos.com.cn">
  <meta id="apiDataSearchUrl" content="http://samplesyst.ipsos.com.cn/api/Sample/GetSurveyList" >
  <meta id="title" content="单位名称" >
  <title><%= htmlWebpackPlugin.options.title %></title>
  
    <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.description %>">
  
    <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
    <% } %>
  
    <!-- base url -->
    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  
  
  </head>
  
  <body style="font-family: '黑体'">
  <app>
  </app>
  
  <div id="preloader">
      <img  src="/assets/img/loading.png">
      <p>Loading</p>
  </div>
  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  </body>
  </html>