
<header class="head">
    <div class="main-w h-head">
      <img src="assets/img/logo.png" alt="" />		
      <nz-dropdown [nzTrigger]="'click'" [nzPlacement] = "'bottomRight'" class="head-logo" style="right:50px;">
	      <a href class="ant-dropdown-link" nz-dropdown>
	        <img src="../../assets/img/more.png" alt="" />
	      </a>
	      <ul nz-menu class="head-menu">
          <li nz-menu-item><img src="../../assets/img/honghu.png" alt="" />{{User.userName}}</li>
	        <li nz-menu-item><a [routerLink]="['/pages/password',{pjId:pjId,id:111111111111111111}]"><img src="../../assets/img/c_password.png" alt="" />修改密码</a></li>
	        <li nz-menu-item><a [routerLink]="['/login']"><img src="../../assets/img/quit-l.png" alt="" />退出登录</a></li>
	      </ul>
	    </nz-dropdown>
    </div>
  </header>
  <nav class="nav">
    <ul class="main-w n-nav">
      <ng-container  *ngFor="let module of (modules | async); let i=index" >
        <a *ngIf="module.Id;else  childrenRef;"  [routerLink]='module.Id==170816190301077250 ? ["/pages/closedloop", {pjId:pjId,id:module.Id}] : ["/pages/dashboard",{pjId:pjId,id:module.Id}]'>
          <li [ngClass]="{'active':module.active}"> 
            {{module.Title}}
          </li>
        </a>
        <ng-template #childrenRef>
          <md-menu class="children-menu" #appMenu="mdMenu">
            <button *ngFor="let child of module.children" (click)="childrenChange(module,child)"  md-menu-item> {{child.Title}} </button>
          </md-menu>
          <button class="li-button" [ngClass]="{'active':module.active}" [mdMenuTriggerFor]="appMenu">
            {{title ||module.Title}}
          </button>
        </ng-template>
      </ng-container>
    </ul>
  </nav>

  