$color-background:#fff;
$color-text:#000;
@mixin width-height($width,$height){
    width:$width;
    height:$height;
}
.head{
	@include width-height(100%,100px);
	background: url(../../assets/img/headbj.png) $color-background;
	background-size:100% 100%;
}
.h-head{
    @include width-height(92%,100%);
  position: relative;
  margin:0 auto;
    .head-logo{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    }
    .user{
        right:10%;
    }
	>img,a{
	    position: absolute;
	    top:50%;
	    transform: translate(0,-50%);
	}
	>img:first-of-type{
        left:0;
        width:35px;
        height: 35px;

    }
    a{       
        right:0;
        color:#333333;
        font-size:14px;
        img{
            margin-right:7px;
            vertical-align: middle;
        }
        .quit{
            right:0;
            margin:0;
            margin-right: 0.2em;
            width:16px;
            height: 18px;
        }
    }
    a:last-of-type{
        right:60px;
    }
    
}
.nav{
	@include width-height(100%,55px);
	background: $color-background;
    margin-top:1px;
    display: inline-block;
	.n-nav{    
        background: $color-background;
        .children-menu{
           .mat-menu-item{
               font-size: 14px;
           } 
        }
        li,.li-button{
            height:55px;
            float:left;
            padding:0 38px;
            line-height: 55px;
            color:$color-text;
            font-size: 18px;
            background: none;
            border: none;
           
            &.active{
                background-color:#e8eef1;
            }
        }
    }
}
.head-menu{
    li{
        height:63px;
        color:#333;
        font-size: 18px;
        line-height: 63px;
        padding-left:14px;
        padding-right: 30px;
        a{
            background:transparent;
        }
        img{
            margin-right: 14px;
            vertical-align: middle;
            width:16px;
            height:18px;
        }
    }
    
}