<div *ngFor="let item of components  | async">
<ipsos-component [blockInPipe]="blockInPipe" [blockOutPipe]="blockOutPipe" [config]="config" [blockData]="chartCount"  [component]='item'></ipsos-component>
</div>  
<div>
        <div [ngClass]="{show:!(filterStarted | async)}" class="main-view">
                <p>您好，请选择筛选条件并点击<span class="important">"运行"</span>查看相应结果</p>
        </div>
</div>
