@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}
.header{
  height: 100px;
}
.main-view{
  display: none;
  width:100%;
  text-align: center;
  &.show{
    display: inline-block;
    margin-top:18%;
  }
  p{
    margin-top:-60px;
      color:#666666;
      font-size: 24px;
 
      .important{
        font-size: 26px;
        margin: 0 0.5em;
        color:#000;
        font-weight: bold;
      }
  }
}
.m-title{

  color: #333333;
  font-size: 30px;
  margin: 40px 0 29px 0
}