.search{
                    width: 200px;
                    height: 28px;
                    border-radius: 4px;
                    background-color: #ffffff;
                    border: solid 1px #e0e7ec;
                    color: rgba(160, 170, 191, 0.8);
                    input{
                        border:none;
                        width:170px;
                        height:100%;
                        border-radius: 4px;
                        padding-left:5px;
                        font-size:12px;
                    }
                    a{
                        display: inline-block;
                        float:right;
                        width:28px;
                        height:27px;
                        background-color: #e0e7ec;
                        border-radius:0 4px 4px 0;
                        margin-right:-1px;
                        img{
                            margin:0;
                            float:right;
                            height:26px;
                        }
                    }
                }

.data-table{
	width:100%;
	margin:20px 0 24px 0;
	border:1px solid #e0e7ec;
	border-collapse: collapse;
	border-spacing: auto;
	text-align: center;
	background:#fff;
	box-shadow: -1px -0px 0 0 #e0e7ec, 1px 0 0 0 #e0e7ec, -0px -1px 0 0 #e0e7ec, 0px 1px 0 0 #e0e7ec;
	thead{
		background-color: #f8fafb;
	    tr{
            
            th{
                text-align: center;
                color: #404652;
                font-size:16px;
                font-weight: normal;
                padding:19px 0 11px 0;
                border:1px solid #e0e7ec;
                img{
                	width:28px;
                	height:28px;
                	margin-top:10px;
                }
                .search-input{
                    display: none;
                    width: 132px;
                    height: 28px;
                    border-radius: 4px;
                    background-color: #ffffff;
                    border: solid 1px #e0e7ec;
                    margin:10px auto;
                    color: rgba(160, 170, 191, 0.8);
                    input{
                        border:none;
                        width:93px;
                        height:100%;
                        border-radius: 4px;
                        padding-left:5px;
                        font-size:12px;
                    }
                    span{
                        display: inline-block;
                        float:right;
                        width:28px;
                        height:27px;
                        background-color: #e0e7ec;
                        border-radius:0 4px 4px 0;
                        margin-right:-1px;
                        img{
                            margin:0;
                            float:right;
                            height:26px;
                        }
                    }
                }
            }
        }
	}
	tbody{
		tr{
			height: 38px;
			color: #6b7791;
			font-size:14px;
			td{
				border:1px solid #e0e7ec;
				img{
					width:21px;
					height:21px;
				}
			}
		}
	}
}
.view{
	margin-bottom:30px;
	height:40px;
	button{
		width: 110px;
		height: 38px;
		background-color: #236dc0;
		font-size: 16px;
  		color: #ffffff;
  		border:none;
  		margin-right:8px;
	}
	.page{
		float:right;
	}
}
.tem-view{
    h2{
        font-size: 20px;
        color: #404652;
    }
    .tem-infor{
        margin:10px 0 0 0;
        .td-lable{
            background-color: #f8fafb;
        }
    }
    .tem-question{
        margin:10px 0 0 0;
        .td-lable{
            width: 18%;
            background-color: #eaf2f7;
        }
        td{
            div{
                width:10%;
                float:left;
                text-align: center;
                span{
                    display: inline-block;
                    width:100%;
                    height:20px;
                }
                .span-check{
                    background: rgb(255, 146, 113);
                    border: 1px solid rgb(236, 105, 65);
                    // background: rgb(53, 209, 203);
                    // border: 1px solid rgb(14, 173, 167);
                    border-radius: 2px;
                    color: #ffffff;
                }
            }
        }
        
    }
    h3{
        font-size: 16px;
        text-align: left;
        color: #404652;
        margin-top:19px;
    }
    textarea{
        width:100%;
        height: 141px;
        background-color: #f8fafb;
        border: solid 1px #e0e7ec;
        font-size: 16px;
        padding:14px 0 0 17px;
        color: #404652;
        margin-top:7px;
        resize:none;
    }
}

.main-view{
  position: absolute;
  width:91.1%;
  height: 448px;
  background-size: 100% 90%;
  padding:5px 0 0 100px;
  clear:both;
  top:190px;
  &.show{
    display: block;

  }
  p{
      color:#236DC0;
      font-size: 28px;
      span:first-of-type{
        font-size:40px;
      }
      .important{
      color:red;
      }
  }
}

.m-title{
  color: #333333;
  font-size: 30px;
  margin: 40px 0 29px 0
}