<div class="m-title">
	数据检索
</div>

<div class="search">
	<input placeholder="搜索 姓名 或 手机号" [(ngModel)]="searchKey" #search/>
	<a >
		<img src="assets/img/unit-search.png" (click)="searchData()">
	</a>			            
</div>

<div *ngIf="AllDatas.length > 0">
    
	<table class="data-table">
		<thead>
			<tr>
				<th>
					<p>样本ID</p>
					<img src="assets/img/unit-search.png" (click)="hidden($event)">
					<div class="search-input">
						<input placeholder="搜索" #searchID/>
						<span>
							<img src="assets/img/unit-search.png" (click)="searchColumn('id',searchID.value)" >
						</span>			            
			       </div>
				</th>
				<th>
					<p>客户姓名</p>
					<img src="assets/img/unit-search.png" (click)="hidden($event)">
					<div class="search-input">
						<input placeholder="搜索" #searchName/>
						<span>
							<img src="assets/img/unit-search.png" (click)="searchColumn('name', searchName.value)" >
						</span>			            
			       </div>
				</th>
				<th>
					<p>项目名称</p>
					<img src="assets/img/unit-search.png" (click)="hidden($event)">
					<div class="search-input">
						<input placeholder="搜索" #searchProject/>
						<span>
							<img src="assets/img/unit-search.png" (click)="searchColumn('projectname', searchProject.value)" >
						</span>			            
			       	</div>
				</th>
				<th *ngFor="let header of THeaders; let i = index">
					<p>{{header.Text}}</p>
					<img src="assets/img/unit-search.png" (click)="hidden($event)">
					<div class="search-input">
						<input placeholder="搜索" #searchDate/>
						<span>
							<img src="assets/img/unit-search.png" (click)="searchColumn('other', searchDate.value, i)" >
						</span>			            
			       </div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor = "let data of ShowDatas;" (click)="showModalForTemplate(content, footer, data)">
				<td>{{data.SampleId}}</td>
				<td>{{data.Name}}</td>
				<td>{{data.SurveyListItemInfo[0].ProjectName}}</td>
				<td *ngFor="let cdata of data.ColumnDatas">
					{{cdata.Value}}
				</td>
			</tr>
		</tbody>
	</table>
	<div class="view">
		<a ><button (click)="exportExcel()">导出Excel</button></a>
		<nz-pagination class="page" [nzPageIndex]="1" [nzPageSize]="PageSize" [nzTotal]="TotalSize" nzShowQuickJumper (nzPageIndexChange)="indexChange($event)"></nz-pagination>
	</div>
    
	<ng-template #content>
      <div class="tem-view">
      	<h2>问卷内容</h2>
        <table class="data-table tem-infor">
        	<tbody>
				<tr *ngFor="let i of Lines">
                        <td class="td-lable">{{Basics[2*i].Text}}:</td>
                        <td>{{Basics[2*i].Value}}</td>
                        <td class="td-lable">{{Basics[2*i + 1].Text}}:</td>
                        <td>{{Basics[2*i + 1].Value}}</td>
				</tr>
        	</tbody>       	
        </table>
        <table class="data-table tem-question">
        	<tbody>
				<ng-container *ngFor="let table of Tables">
					<tr *ngIf="table.VarValues">
						<td *ngIf="table.VarValues || table.VarValues.length == 0" class="td-lable"><span>{{table.Text}}</span></td>
						<td *ngIf="table.VarValues || table.VarValues.length == 0">
							<div *ngFor="let varValue of table.VarValues">
								<span [ngClass]="{true: 'span-check', false: ''}[table.Value == varValue.VarValueId]">{{varValue.ReportText}}</span>
							</div>        				
						</td>
					</tr>
				</ng-container>
        	</tbody>
        </table>
		<div *ngFor="let table of Tables">
			<div *ngIf="!table.VarValues || table.VarValues.length == 0">
				<h3>{{table.Text}}：</h3>
				<textarea name="" rows="" cols="">{{table.Value}}</textarea>
			</div>
		</div>
      </div>
    </ng-template>
    <ng-template #footer>
      
    </ng-template>
</div>
<div *ngIf="AllDatas.length == 0" class="main-view show">
		<p>您好，请选择筛选条件并点击搜索查看相应结果</p>
</div>