<div class="main">
  <div class="row">
<div class="col-lg-17">
 
  <ng-container  *ngFor="let item of (reply | async)?.Filters ;let index=index">
    <div  class="item"  [ngSwitch]="item.ShowType">
      <div *ngSwitchCase="'option'">
        <md-select *ngIf="item.Multiple;else Single"  [multiple]="item.Multiple" placeholder="{{item.TextValue}}" [(ngModel)]="item.OptionValues"
          (ngModelChange)="optionChange(item)">
          <ng-container *ngIf="item.Multiple">
              <button class="select-all" md-button (click)="selectAll(item)">全选</button>
              <button class="select-all" md-button (click)="clearAll(item)">全不选</button>
            </ng-container>
          <md-option *ngFor="let option of item.options" [value]="option.value">
            {{option.text}}
          </md-option>
        </md-select>
        <ng-template #Single>
            <md-select  [multiple]="item.Multiple" placeholder="{{item.TextValue}}" [(ngModel)]="item.OptionValues[0]"
            (ngModelChange)="optionChange(item)">
            <md-option *ngFor="let option of item.options" [value]="option.value">
              {{option.text}}
            </md-option>
          </md-select>
        </ng-template>
      </div>
      <input *ngSwitchCase="'text'" [(ngModel)]="item.OptionValues[0]" />

    
 <div class="datetime" *ngSwitchCase="'single-datetime'">
        <md-select [(ngModel)]="item.OptionValues" placeholder="{{item.TextValue}}" (ngModelChange)="singleRangeChange($event,item)">
          <md-option *ngFor="let option of recentYears;" [value]="option">
            {{option}}年
          </md-option>
        </md-select>
      </div>

      <div class="" *ngSwitchCase="'datetime'">
        <md-select *ngIf="!item.DisableQuick" [(ngModel)]="item.OptionValues" placeholder="{{item.TextValue}}" (ngModelChange)="rangeChange($event,item)">
          <md-option *ngFor="let option of item.options;let i=index" [value]="i">
            {{option.text}}
          </md-option>
        </md-select>
        <nz-datepicker class="select-date"  [(ngModel)]="item.DateEnd"></nz-datepicker>
        <label class="time to">至</label>
        <nz-datepicker class="select-date"  [(ngModel)]="item.DateStart"></nz-datepicker>
      </div>
      <div *ngSwitchCase="'dependencies'">
        <md-select *ngFor="let asyncItem of item.dependency" class="time" placeholder="{{asyncItem.item.TextValue}}" [(ngModel)]="asyncItem.item.OptionValues[0]"
        (ngModelChange)="optionChange(asyncItem)">
          <md-option *ngFor="let option of (asyncItem.stream | async)?.Series" [value]="option.Values[0]">
            {{option.Name}}
          </md-option>
        </md-select>
      </div>
      <div *ngSwitchDefault></div>
    </div>
  </ng-container>
</div>
<div class="col-lg-3 right">
  <button class="btn btn-primary reset" (click)="reset()">{{config.Reset}}</button>
  <button class="btn btn-primary" (click)="filterChange()">运行</button>
</div>
</div>
</div>
<!-- <ul class="m-num">
  <ng-container *ngFor = "let choosed of (reply | async)?.Filters" >
    <ng-container *ngIf="choosed.dependency;else default">
      <ng-container *ngFor="let asyncItem of choosed.dependency">
       <li> {{asyncItem.ChoosedText | async}}</li>
      </ng-container>
    </ng-container>
    <ng-template #default>
       <li>
        {{flatten(choosed)}}
        </li>
    </ng-template>
  </ng-container>
</ul> -->