@import '../../../theme/sass/conf/conf';
$line-height:37px;
.select-all{
    width:48%;
    background:rgba(230, 236, 239, 0.39);
}
.main{
    
    .item{
        display: inline-block;
        height: $line-height;
        border-radius: 2px;
        background: #fff;
        line-height: $line-height;
        padding:0 1.1em;
        margin-top:0.5em;
        margin-right: 1px;
        position: relative;
        .datetime{
            .select-date,label{
                float: right;
                padding:0 0.2em;
            }
        }
        &.not-null{
            background-color:#fbf2f0;
        }
    }
    .right{
        text-align: right;
        margin-top:0.5em;
        button{
            height: $line-height;
            border: none;
            &.reset{
                background:#10BDB6;
            }
        }
    }

}

.m-num{
	clear:both;
	height:29px;
	margin-top:28px;
	li{
        float:left;
        line-height: 29px;
        background: #fff;
        font-size: 12px;
        color:#000000;
        margin-right: 5px;
        padding:0 6px 0 10px;
        cursor: pointer;
 
    }
    li:first-of-type{
        border-radius: 2px 0 0 2px;
    }
    li:last-of-type{
        border-radius: 0 2px 2px 0;
    }
    .m-munActive{
        background: #236DC0;
        color:#fff;  
        border-radius: 2px;
    }
}

@media screen and (max-width: $resXXXL) {
    .right{
        button{
            width:64px;
        }
    }
  }
  @media screen and (min-width: $resXXXL) {
    .right{
        button{
            width:90px;
        }
    }
  }
  